################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GenericConstraints/.vs/GenericConstraints/v16/Server/sqlite3/storage.ide-wal
/GenericConstraints/.vs/GenericConstraints/v16/Server/sqlite3/storage.ide-shm
/GenericConstraints/.vs/GenericConstraints/v16/Server/sqlite3/storage.ide
/GenericConstraints/.vs/GenericConstraints/v16/Server/sqlite3/db.lock
/GenericConstraints/.vs/GenericConstraints/v16/.suo
